@font-face {
    font-family: Gothic;
    src: url(gothic.ttf);
}

@font-face {
    font-family: Seagram;
    src: url(seagram.ttf);
}

@font-face {
    font-family: Ruritania;
    src: url(ruritania.ttf);
}